@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  padding: 0;
  margin: 0;
  font-family: 'BricolageGrotesque-Bold', sans-serif;
  font-size: 18px;
}
@font-face {
  font-family: 'BricolageGrotesque-Bold';
  src: url('./assets/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf');
}
@font-face {
  font-family: 'DMSans-Italic';
  src: url('DMSans-Italic-VariableFont_opsz,wght.ttf');
}
@font-face {
  font-family:'DMSans' ;
  src: url('DMSans-VariableFont_opsz,wght.ttf');
}

.animate-rotate{
  display: flex;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% { 
    transform:rotate(0deg)
  }
  100%{
   transform: rotate(360deg)
  }
}